spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/global_track_trace
    username: postgres
    password: triet123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: global-track-trace
